body {
    background-color: #f8f9fa;
  }

  footer {
    background-color: #000;
    color: #fff;
    padding:20px;
  }

  footer .row {
    margin-bottom: 20px;
  }

  footer .social-icons i {
    font-size: 30px;
    margin-right: 10px;
  }
  a{
    text-decoration: none;
    color: #f8f9fa;
  }