<!-- <p>skills works!</p> -->

<div id="skills" class="skills">
    <div class="container mt-4 pt-4">
      <h1 class="text-center">Skills</h1>
<p class="text-center">                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
</p>
      <div class="row mt-3">
        <div class="col-md-6">
                <div class="container mt-4 pt-4">
                  <h2 class="section-heading">My Focus</h2>
                  <div class="lr"><hr></div>

                  <div class="section-line"></div>
              
                  <div class="focus-content">
                    <div class="focus-item">
                      <h3>UI Design</h3>
                    </div>
              
                    <div class="focus-item">
                      <h3>Responsive Design</h3>
                    </div>
              
                    <div class="focus-item">
                      <h3>Web Design</h3>
                    </div>
              
                    <div class="focus-item">
                      <h3>Mobile App</h3>
                    </div>
                  </div>
                </div>
              
              
        </div>
        <div class="col-md-6">
          <h3>HTML</h3>
          <ngb-progressbar class="mb-3" [showValue]="true" type="success" [value]="25" />
          <h3>CSS</h3>
          <ngb-progressbar class="mb-3" [showValue]="true" type="info" [value]="25" />
          <h3>Javascript</h3>
          <ngb-progressbar class="mb-3" [showValue]="true" type="warning" [value]="25" [max]="100" />
          <h3>Angular</h3>
          <ngb-progressbar class="mb-3" [showValue]="true" type="danger" [value]="25" [max]="100" />
             
        </div>
      </div>
      
  

    </div>
  </div>
  